# This is Git's per-user configuration file.
[user]
	name = tsuzuki-takaaki
	email = echo.tsuzuki.takaaki@gmail.com
[alias]
	ch = checkout
	br = branch
	ss = status
	cmt = commit
	cp = cherry-pick
	rb = rebase

