# This is white list(Not black list)
### all ignore ###
/*
/.**

### not ignore ###
!/raycast
!/.zshrc
!/nvim
!/.vimrc
!/.tmux.conf
!/.config/
!/.config/**

!/README.md
!/LICENSE
!.gitignore
!.gitkeep
!.gitconfig

