# This is Git's per-user configuration file.
[user]
	name = tsuzuki-takaaki
	email = echo.tsuzuki.takaaki@gmail.com
[alias]
	ch = checkout
	br = branch
	ss = status
	cmt = commit
	cp = cherry-pick
	rb = rebase
  stu = stash -u
  stl = stash list
  std = stash drop stash@{0}
  diffs = diff --staged

[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false

