# This is white list(Not black list)
### all ignore ###
/*
/.**

### not ignore ###
!/raycast
!/.zshrc
!/.zshrc-ubuntu
!/nvim
!/.vimrc
!/.tmux.conf
!/.config/
!/.config/**
!/Brewfile
!/.github/
!/.github/**
!/.pryrc

!/README.md
!/LICENSE
!.gitignore
!.gitkeep
!.gitconfig

